{% extends 'base.html' %}
{% block navbar %}

    {% include 'navbar2.html' %}

{% endblock %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}



<div class="top">

</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12 blog-form">
                <h3>Update Your Bio Information</h3>
                <hr>
                 {{wtf.quick_form(form)}}

        
            </div>

        </div>
    </div>
    <div class="col-md-3"></div>
</div>

{% endblock %}
